extends layout
block content
  .container  
    .row
      .col-lg-8.col-lg-offset-2
        .panel
          .panel-heading
            h3.panel-title Preview&nbsp;
              span.glyphicon.glyphicon-eye-open
          .panel-body
            #preview
    .row
      form(method="POST", action="/create")
        .col-lg-8.col-lg-offset-2
          .panel
            .panel-heading
              h3.panel-title edit&nbsp;
                span.glyphicon.glyphicon-pencil
                button#clear.btn.btn-link clear
            .panel-body
              .col-lg-12
                textarea.form-control(id="markdown", name="markdown", rows="12", autofocus).
                  # ![fire](/favicon.ico) burnmark.io ![fire](/favicon.ico)
                  ### Send a one time use burner page using mardown syntax.
                  1. Create message using [markdown syntax](http://daringfireball.net/projects/markdown/syntax)
                  2. Get a link for your newly created page.
                  3. Send the link via email, text message, gchat, etc.
                  4. After the page is viewed it is burned and can no longer be accessed.
          .text-center
            button.btn.btn-success.btn-large(type="submit") create 
              span.glyphicon.glyphicon-fire

  script(type="text/javascript").
    $(document).ready(function(){
      $("#preview").html(marked($("#markdown").val()));

      $("#markdown").keyup(function(e) {

        $("#preview").html(marked(this.value));
        });

      $("#clear").click(function(e) {
        e.preventDefault();
        $("#markdown").html("");
        });

      });
