!!! 5
html(lang='en')
  head
    meta(charset='utf8')
    base(href='/')
    title Burner Page
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/bootstrap-glyphicons.css", rel="stylesheet")
    link(href="/css/burner.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery.js")
    script(src="/js/bootstrap.min.js")

  body
    .container-narrow
      block content
      hr
      .text-center
        a(href="/") burn
    

